<h1>System data summary</h1>

 <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="1">Products in store</th>
          <th colspan="1">Category in store</th>
        </tr>
      </thead>
      <tbody>
        <th>
         <%= @dashboard['product_count'] %> 
        </th>
        <th> <%= @dashboard['category_count'] %></th>
      </tbody>
      <tfoot>
     
      </tfoot>
    </table>


