<h1>About Jungle</h1>
<p><h3>
Jungle is your home to buy house plants online in Canada. Greenhouse to Door. For your home or for a loved one, we want to make your plant buying experience one you’ll want to do often.<br>
<br>
Call or Text: (844) 888-8888
<br>
Email: help@jungle.ca</h3>
<br>
<%= link_to "Continue to shopping", root_path, class: 'btn btn-lg btn-primary' %>
</p>

